
#main-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#brand {
  margin-left: 40%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}
#r{
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 50rem;
}
/* #homeB{
  position: absolute;
  left:1em;
  top:0.5em;
  font-size:37px;
} */

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#card-address {
  font-size: medium;
}

#card-name {
  font-size:large;
}

#card-rating {
  font-size: medium;
}
