
#main-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#brand {
  margin-left: 40%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 3rem;
}

#flex-row {
  display: flex;
  flex-direction: row;
  background-color: rgb(248, 220, 220);
}


